
{{!-- 	I am going to have this form connect to /create
		protip: forms values are submitted as Query strings AKA req.params

 --}}
<form action="/create" method="post">
	<input type="text" name="name" placeholder="party name">
	<input type="text" name="host_name" placeholder="host name">
	<input type="text" name="location" placeholder="location">
	<input type="submit" value="Submit"></input>
</form>